@import "../../../global.scss";

.portfolio {
  background-color: #4dc3e078;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 3%;
    margin-bottom: 0px;
    font-size: 5rem;
    align-self: center;
    color: #ffffff;
    @include mobile {
      font-size: 20px;
    }
  }
  h3 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 3.5rem;
    margin-top: 20px;
    letter-spacing: 2px;
    color: #4c3c69;
  }
  p {
    display: none;
    @media only screen and (max-width: 600px) {
      display: block;
      font-size: 15px;
      color: #181e1f;
      margin-top: 5%;
    }
  }
  .containers {
    width: 90%;
    height: 60%;
    margin-bottom: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @include mobile {
      width: 110%;
      margin-top: 0px;
    }

    .item {
      width: 30%;
      height: 15rem;
      margin: 22px;
      display: flex;
      align-items: center;
      color: rgb(0, 0, 0);
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      @include mobile {
        width: 210px;
        height: 150px;
      }

      h3 {
        position: absolute;
        font-size: 25px;
        font-family: "Open Sans", sans-serif;
        background-color: $mainColor;
        color: #ffffff;
        font-weight: 200;
        @media only screen and (max-width: 600px) {
          font-size: 15px;
        }
      }
      .imgContainer {
        width: 60%;
        height: 70%;
        object-fit: contain;
      }
      img {
        width: 170%;
        height: 160%;
        z-index: 1;
        border-radius: 15px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 20px 40px rgba(0, 0, 0, 0.22);
        &:hover {
          border: 2px solid rgb(0, 0, 0);
          animation: fade 2s;
          @keyframes fade {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
