@import "../../global.scss";

.portfolio {
  background-color: #4dc3e078;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130vh;
  h1 {
    margin-top: 3%;
    margin-bottom: 0px;
    font-size: 5rem;
    align-self: center;
    color: #ffffff;
    @include mobile {
      font-size: 20px;
    }
  }

  ul {
    margin-top: 30px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .containers {
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile {
      width: 100%;
    }

    .item {
      width: 30%;
      height: 30%;
      margin: 22px;
      display: flex;
      align-items: center;

      color: rgb(0, 0, 0);
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      @include mobile {
        width: 130px;
        height: 100px;
      }

      h3 {
        position: absolute;
        font-size: 25px;
        font-family: "Open Sans", sans-serif;
        background-color: $mainColor;
        color: #ffffff;
        font-weight: 200;
      }
      .imgContainer {
        width: 60%;
        height: 70%;
        object-fit: contain;
      }
      img {
        width: 170%;
        height: 160%;
        z-index: 1;
        border-radius: 15px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 20px 40px rgba(0, 0, 0, 0.22);
        &:hover {
          border: 2px solid rgb(0, 0, 0);
          animation: fade 2s;
          @keyframes fade {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
