@import "../../global.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

.about {
  background-image: url("../Background/skills_vector.png");
  background-size: cover;
  height: 100vh;
  margin: 0px;
  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  .headings {
    padding-top: 2.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background: transparent;

    p {
      font-family: "Roboto", sans-serif;
      font-size: 400%;
      font-weight: 250;
      color: #4c3c69;
      padding-bottom: 1%;
      @media only screen and (max-width: 600px) {
        font-size: 25px;
      }
    }
    h1 {
      font-size: 4rem;
      align-self: center;
      color: #4c3c69;
      @media only screen and (max-width: 600px) {
        font-size: 25px;
      }
    }
  }
  .details {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    p {
      font-family: "Open Sans", sans-serif;
      display: flex;
      text-align: justify;
      margin: 2% 10%;
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 2.5rem;
      background: transparent;
      letter-spacing: 0.7px;
      @media only screen and (max-width: 600px) {
        font-size: 12px;
        line-height: 1rem;
        letter-spacing: 0.2px;
      }
    }
  }
  .city {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    flex-direction: row;
    flex-direction: column;
    margin-top: 2%;
    h2 {
      font-family: "Roboto", sans-serif;
      font-size: 300%;
      font-weight: 250;
      @media only screen and (max-width: 600px) {
        font-size: 20px;
      }
    }
    p {
      display: none;
      @media only screen and (max-width: 600px) {
        display: block;
        font-size: 12px;
        color: #a6b9cf;
        margin-bottom: 5%;
      }
    }
  }
  .place {
    background: transparent;

    ul {
      list-style: none;
      font-size: 25px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      @media only screen and (max-width: 600px) {
        padding: 0px;
        height: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-left: 5%;
        width: 88%;
      }
      .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      a {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      li {
        font-family: "Roboto", sans-serif;
        width: 12%;
        :hover {
          background-color: #ad9dce;
          border-radius: 10%;
        }
        img {
          width: 70%;
          @media only screen and (max-width: 600px) {
            width: 150%;
          }
        }
      }
      p {
        text-decoration: none;
        color: #000000;
        position: relative;
        font-size: 1.2rem;
        padding: 15px 0px;
        @media only screen and (max-width: 600px) {
          font-size: 12px;
          padding: 5px 0px;
        }
      }
    }
  }
}
