@import "../../global.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

.about {
  background-image: url("../Background/skills_vector.png");

  background-size: cover;
  height: 100vh;
  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  .headings {
    padding-top: 2.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background: transparent;

    p {
      font-family: "Roboto", sans-serif;
      font-size: 400%;
      font-weight: 250;
      color: #4dc3e0;
      padding-bottom: 1%;
    }
    h1 {
      font-size: 4rem;
      align-self: center;
      color: #93b5c6;
    }
  }
  .details {
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    p {
      font-family: "Open Sans", sans-serif;
      text-align: justify;
      margin: 2% 10%;
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 2.5rem;
      background: transparent;
      letter-spacing: 0.7px;
      @include mobile {
        font-size: 100%;
        height: 70%;
        margin: 10% 3%;
        letter-spacing: 0px;
      }
    }
  }
  .city {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    flex-direction: row;
    margin-top: 2%;
    h2 {
      font-family: "Roboto", sans-serif;
      font-size: 300%;
      font-weight: 250;
      color: #4dc3e0;
      background: transparent;
    }
  }
  .place {
    background: transparent;

    ul {
      list-style: none;
      font-size: 25px;
      font-weight: 400;

      display: flex;
      align-items: center;
      justify-content: space-around;
      background: transparent;
      flex-direction: row;
      margin-top: 1%;
      li {
        font-family: "Roboto", sans-serif;
        background: transparent;
      }
      a {
        background: transparent;
        text-decoration: none;
        color: black;
      }
      a:hover {
        color: #93b5c6;
      }
    }
  }
}
