@import "../../global.scss";

.portfolioList {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  padding: 0px 15px;
  margin-right: 60px;
  border-radius: 10px;
  cursor: pointer;

  @include mobile {
    margin-right: 20px;
  }

  &.active {
    background-color: $mainColor;
    color: white;
    width: 120%;
    border: 10px;
    padding: 0px 15px;
  }
  &:hover {
    color: $mainColor;
    background-color: #fff;
    padding: 0px 15px;
  }
}
