@import "~react-image-gallery/styles/scss/image-gallery.scss";
.about {
  height: auto;
  margin: 0 5%;
}
.image-gallery-image {
  height: 70vh;
  @media only screen and (max-width: 600px) {
    height: auto;
  }
}
.pricee {
  padding-bottom: 3%;
  color: #4dc3e0;
  list-style: none;
  display: none;
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10%;
    font-size: 14px;
  }
}
.price {
  position: relative;
  align-items: center;
}
.pr {
  padding-top: 5px;
}
.prc {
  padding-left: 20px;
}

.headingsss {
  padding-top: 2.5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background: transparent;

  p {
    font-family: "Roboto", sans-serif;
    font-size: 400%;
    font-weight: 450;
    color: #4dc3e0;
    padding-bottom: 1%;
  }
  h1 {
    font-size: 4rem;
    align-self: center;
    color: #4c3c69;
    @media only screen and (max-width: 600px) {
      font-size: 2rem;
    }
  }
}
.detailss {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
  .priceee {
    color: #4dc3e0;
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
  ul {
    list-style: circle;
    border-right: 1px solid #4dc3e0;
    height: 200px;
    padding-right: 7%;
    @media only screen and (max-width: 600px) {
      padding-left: 0px;
      margin-left: 0;
      height: 150px;
    }
    li {
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: 20px;
      @media only screen and (max-width: 600px) {
        font-size: 0.8rem;
        margin-bottom: 10px;
      }
      margin-left: 50px;
      color: #4c3c69;
    }
  }
  .address {
    display: flex;
    justify-content: space-between;
    width: 800px;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
      margin-top: 20px;
    }
    p {
      width: 68%;
      font-family: "Open Sans", sans-serif;
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 1.8rem;
      @media only screen and (max-width: 600px) {
        font-size: 0.8rem;
        margin: 2%;
        width: 40%;
        line-height: 1.2rem;
      }
    }
    iframe {
      @media only screen and (max-width: 600px) {
        width: 100px;
      }
    }
  }
  @import url("https://fonts.googleapis.com/css?family=Ubuntu:500");

  #btnMain {
    width: 200px;
    height: 70px;
    position: relative;
    margin-top: 2%;
    bottom: 15px;
    perspective: 800px;
    cursor: pointer;
    overflow: hidden;

    @media only screen and (max-width: 600px) {
      margin-left: 30%;
      width: 80px;
      height: 30px;
      margin-top: 0;
    }
  }
  #btnBox {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #4dc3e0;
    font-family: "Times New Roman", serif;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    line-height: 70px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px rgba(59, 2, 97, 0.4);
    transition: all 0.5s;
    border-radius: 5px;
    @media only screen and (max-width: 600px) {
      font-size: 10px;
      line-height: 30px;
    }
  }
  #sold {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #93b5c6;
    font-family: "Times New Roman", serif;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    line-height: 70px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px rgba(59, 2, 97, 0.4);
    transition: all 0.5s;
    border-radius: 5px;
    @media only screen and (max-width: 600px) {
      font-size: 10px;
      line-height: 30px;
    }
  }
  #btnBottom {
    width: 100%;
    height: 30px;
    background-color: #3b0261;
    position: relative;
    top: 79%;
    left: 0;
    transform: rotateX(-87deg);
    transition: all 0.5s;
  }
  #btnMain:hover #btnBox {
    color: #ffff;
    background-color: #93b5c6;
    transform: rotateX(25deg);
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 25px 30px rgba(59, 2, 97, 0.4);
  }
  #btnMain:hover #btnBottom {
    transform: rotateX(-70deg);
  }

  /*bg*/
  #bg {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    background: #a741ff;
    background: -moz-linear-gradient(top, #a741ff 0%, #5480fd 100%);
    background: -webkit-linear- gradient(top, #a741ff 0%, #5480fd 100%);
    background: linear-gradient(to bottom, #a741ff 0%, #5480fd 100%);
  }
}
.heading {
  padding-top: 2.5%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  background: transparent;
  @media only screen and (max-width: 600px) {
    padding-top: 0%;
    justify-content: center;
    align-items: center;

    background: transparent;
  }
  h1 {
    font-size: 3rem;
    padding-left: 10%;
    align-self: center;
    color: #4c3c69;
    width: 100vw;
    @media only screen and (max-width: 600px) {
      padding-left: 0%;
      font-size: 1.2rem;
      width: 80vw;
    }
  }
}
.ameties {
  margin: 3% 0px;
  margin-bottom: 3%;
}
.google-maps {
  position: relative;
  padding-bottom: 35%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  @media only screen and (max-width: 600px) {
    padding-bottom: 75%;
  }
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 80% !important;
}
.items-wrap {
  display: flex;
  flex-direction: row;
  margin: 2% 5%;
  background-color: #f3f9ff;
  border-radius: 5px;
  padding: 1%;
  @media only screen and (max-width: 600px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .itm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 600px) {
      justify-content: center;
      padding-top: 2%;
    }

    p {
      margin-top: 2%;
      color: #3d9ab1;
      font-weight: 300;
      @media only screen and (max-width: 600px) {
        font-size: 0.8rem;
      }
    }

    .imgg {
      width: 30%;
      @media only screen and (max-width: 600px) {
        width: 15%;
      }
    }
  }
}
.table {
  margin: 5% 5%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  table {
    border: 2px solid #93b5c6;
  }
  th {
    border: 5px solid white;
    background-color: #f3f9ff;
    color: #4c3c69;
    @media only screen and (max-width: 600px) {
      font-size: 0.5rem;
    }
    img {
      width: 50%;
      @media only screen and (max-width: 600px) {
        width: 70%;
      }
    }
  }

  td {
    width: 18vw;
    background-color: #f3f9ff;
    border: 5px solid white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #121d22;
    @media only screen and (max-width: 600px) {
      font-size: 0.6rem;
    }
    img {
      width: 15%;
      @media only screen and (max-width: 600px) {
        width: 30%;
      }
    }
  }
}
