.app {
  .sections {
    width: 100%;

    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    @media only screen and (max-width: 600px) {
      top: 60px;
    }
    html {
      scroll-behavior: smooth;
    }
    > * {
      width: 100vw;
      scroll-behavior: smooth;
      height: auto;
    }
  }
}
